@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
}

#root {
  display: grid;
  grid-template-columns: 300px 1620px;
  min-height: 100vh;
  width: 100%;
}

nav {
  width: 100%;
  height: 100%;
  border-right: 1px solid #e8e8e8;
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 45px;
  }

  .navlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 0 12px;
    column-gap: 15px;
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .active {
    background: rgba(19, 78, 112, 0.25);
    color: #134e70;

    svg {
      stroke: #134e70;
    }
  }
}

.account {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  padding: 20px 75px 0px;
  justify-content: end;
  align-items: center;

  svg {
    margin-right: 20px;
    cursor: pointer;
  }

  .avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #d9d9d9;
    margin-left: 10px;
    cursor: pointer;
  }
}
