@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

nav {
  width: 100%;
  height: 100%;
  border-right: 1px solid #e8e8e8;
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 45px;
  }

  .navlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 0 12px;
    column-gap: 15px;
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  span {
    line-height: 20px;
  }

  .active {
    background: rgba(19, 78, 112, 0.25);
    color: #134e70;

    svg {
      stroke: #134e70;
    }
  }
}

.right-side {
  height: 100vh;
  overflow-y: auto;
}

.account {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  padding: 20px 75px 0px;
  justify-content: flex-end;
  align-items: center;

  svg {
    margin-right: 20px;
    cursor: pointer;
    stroke: #292d32;
  }

  .avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #d9d9d9;
    margin-left: 10px;
    cursor: pointer;
  }
}

.container {
  padding: 24px 80px 0 68px;
}

.posts-container {
  padding: 24px 75px 24px 68px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 24px;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 17px rgba(135, 135, 135, 0.11);
    padding: 25px 0 24px 0;

    &:hover {
      box-shadow: 0px 4px 37px rgba(135, 135, 135, 0.3);
    }

    .img-container {
      height: 124px;
      width: 124px;
      margin-bottom: 24px;
      overflow: hidden;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    }

    span {
      color: #ababab;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    .name {
      font-weight: 600;
      color: black;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.post-card-container {
  display: flex;
  flex-direction: column;

  .post {
    width: 100%;
    max-width: 1460px;
    padding: 20px 20px 24px 24px;
    box-shadow: 0px 4px 17px rgba(135, 135, 135, 0.11);
    border-radius: 15px;
    margin-bottom: 24px;
    word-wrap: break-word;

    &:last-of-type {
      margin-bottom: 0px;
    }

    &:hover {
      box-shadow: 0px 4px 37px rgba(135, 135, 135, 0.3);
    }

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      position: relative;

      h2 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin: 4px 0 24px 0;
      }

      button {
        background: inherit;
        border: none;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }

      svg {
        stroke: #292d32;
        cursor: pointer;
      }

      .menu {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 17px rgba(135, 135, 135, 0.11);
        border-radius: 10px;
        padding: 15px 15px 10px;
        width: 91px;
        height: 74px;
        position: absolute;
        z-index: 10;
        right: 2px;
        top: 30px;
        background: white;

        span {
          font-family: 500;
          color: #7a7a7a;
          line-height: 17px;
          font-size: 14px;
          margin-bottom: 15px;
          cursor: pointer;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 17px;
      color: #ababab;
      margin: 0;
      padding-right: 5px;
    }

    .textarea-container {
      textarea {
        width: 100%;
        height: fit-content;
        resize: none;
        font-size: 14px;
        line-height: 17px;
        color: #ababab;
        padding-right: 5px;
        font-family: inherit;
      }

      button {
        border: 1px solid #7a7a7a;
        padding: 8px 4px;
        border-radius: 4px;
        background: inherit;
        font-family: 500;
        color: #7a7a7a;
        line-height: 17px;
        font-size: 14px;
        cursor: pointer;
        margin: 24px 15px 0px 0px;
      }
    }
  }
}
